.header-img img{
    width: 70%;
}

h2{
    color:#04AA6D;
    font-size: 36px;
    margin-bottom: 50px;
}

#block2{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block2-col{
    flex-basis: 33%;
    margin-right: 80px;
    background-color: #f0f0f0;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid grey;
    box-shadow: 0 0 10px 10px rgba(55, 173, 0, 0.2);
}

.b{
    margin-right: 0;
}

.block2-col img{
    width: 100%;
    padding-top: 50px;
    border-radius: 50%;
}

.block2-col h3{
    margin-bottom: 20px;
}

#block1{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
