.block1-text .btn{
    padding: 1% 7%;
    margin-left: 40%;
}

.block{
    display: flex;
    width: 90%;
    margin: 50px auto;
    align-items: center;
    justify-content: space-between;
}

.block1-text{
    flex-basis: 44%;
}

.block1-text h3, .block3-header h1{
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color:#04AA6D;
}

.block1-text p{
    color:gray;
    line-height: 1.7;
    margin-bottom: 20px;
    text-align: center;
}


#block3{
    text-align: center;
    padding-top: 2%;
    background-image: url("../images/bg.png");
    background-position: center;
    background-size: cover;
}

.block3-header{
    width: 80%;
    margin: auto;
}

.block3-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}

.block3-col img{
    width: 100%;
    border-radius: 10px;
    border:2px solid #04AA6D;
}

.block3-col h3{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 15px;
}

.block3-col p{
    padding: 0;
    color: grey;
}

.block3-col:hover{
    box-shadow: 0px 0px 20px 0
        rgba(4, 9, 30, 0.7);
    transform: scale(1.1);
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}